@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lato&family=Nunito+Sans&family=Poppins&family=Source+Code+Pro:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins';
}

.page-action-cont {
    height: 3rem;
    background-color: #107c41;
    display: flex;
    gap: 2rem;
    align-items: center;
}

.page-action {
    margin-left: 1rem;
    color: white;
}

.cellprops-action-cont {
    height: 3rem;
    background-color: #f8f8ff;
    display: flex;
    align-items: center;
}

.cellprops-action-cont>* {
    margin-left: 1rem;
    margin-right: 0.5rem;
}

.cellprops-action-cont>span:hover {
    cursor: pointer;
}

.cellprops-action-cont>select {
    border: none;
    outline: none;
    border-radius: 0.2rem;
}

.font-family-prop {
    padding: 0.3rem;
    font-family: "Poppins";
}

.font-size-prop {
    padding: 0.3rem;
    font-family: 'Poppins';
}

.color-prop {
    position: relative;
}

.color-prop>input {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.formula-action-cont {
    height: 3rem;
    background-color: #f8f8ff;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
}

.formula-action-cont>input {
    outline: none;
    border-radius: 0.2rem;
    padding: 0.25rem;
    font-family: 'Poppins';
}

.formula-action-cont>span {
    margin-left: 2.5rem;
    margin-right: 1rem;
}

.address-bar {
    width: 5rem;
    text-align: center;
    font-weight: bold;
}

.formula-bar {
    width: calc(100vw - 5rem);
}

.grid-cont {
    height: calc(100vh - 3rem - 3rem - 3rem - 3rem);
    position: relative;
    overflow: scroll;
}

.top-left-dummy-box {
    width: 2rem;
    height: 2rem;
    background-color: #f8f8ff;
    border: 1px solid #dedede;
    z-index: 15;
    position: fixed;
}

.address-col-cont {
    width: 2rem;
    position: sticky;
    top: 2rem;
    left: 0;
    z-index: 10;
    background: #f8f8ff;
}

.address-row-cont {
    height: 2rem;
    display: flex;
    position: sticky;
    top: 0;
    left: 2rem;
    background: #f8f8ff;
}

.address-col {
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #dedede;
}

.address-row {
    width: 5rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #dedede;
}

.cells-cont {
    position: absolute;
    top: 0;
    left: 2rem;
}

.rowCont {
    display: flex;
}

.cell {
    width: 5rem;
    height: 2rem;
    border: 1px solid #dedede;
}

.sheet-actions-cont {
    height: 3rem;
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    gap: 1rem;
    background-color: #f8f8ff;
}

.sheet-actions-cont>* {
    display: inline-block;
}

.sheet-add-icon {
    width: 2vw;
}

.sheet-add-icon:hover {
    cursor: pointer;
}

.sheets-folder-cont {
    display: flex;
    align-items: center;
    height: 80%;
    width: 5rem;
    width: calc(100vw - 2vw);
    overflow: auto;
}

.sheet-folder {
    height: 80%;
    text-decoration: underline;
    font-weight: bold;
    text-decoration-thickness: 3px;
    font-size: 0.9rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sheet-content {
    width: 5rem;
}